---
import Layout from '../../layouts/Layout.astro';
import { PageTitle } from '../../components/elements/PageTitle'
---

<Layout title="Makiyuu Okatazuke|サービス一覧">
  <main class="flex-col justify-center mt-2 items-center lg:mx-40 mx-4">
    <PageTitle>SERVICE</PageTitle>
  </main>
</Layout>
