---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Makiyuu Okatazuke|サービス一覧">
  <main class="flex-col justify-center items-center lg:mx-40 mx-4">
    <h1 class="text-2xl text-center my-4">お片付けサポート サービス一覧</h1>
 </main>
</Layout>
