---
import Layout from '../../layouts/Layout.astro';
import { PageTitle } from '../../components/elements/PageTitle';
import AboutMeTopImage from '..//images/makiyuu-hello.jpg';
import { Image } from 'astro:assets';
import { ProfileIcon } from '../../components/elements/ProfileIcon';
---

<Layout title="まきゆう|子育てママの毎日をラクにする|整理収納アドバイザー|About Me">
  <div class="flex-col justify-center items-center text-gray-700 mt-2 lg:mx-40 mx-4">
    <PageTitle>About Me</PageTitle>
    <div class="flex justify-center items-center my-4">
      <Image src={AboutMeTopImage} alt="about-me-top" height={600} />
    </div>
    <section class="flex-col items-center mb-10">
      <h2 class="text-xl text-center">「お片づけを通して子育てママの毎日をラクにしたい！」</h2>
      <article class="flex-col text-center lg:text-base text-xs my-4">
        <p>20代前半で1歳半違いの姉妹を出産.</p>
        <p>家族も友達もいない土地での子育てを</p>
        <p class="mb-2">助けてくれたのは「お片づけ」でした.</p>
        <p>あのとき大変な経験をしたからこそ、</p>
        <p>今頑張ってるママたちに寄り添って</p>
        <p>お片づけでサポートしたいと活動を始めました</p>
      </article>
    </section>
    <section class="flex-col justify-center items-center">
      <div class="sm:w-4/6 w-full sm:mx-auto mx-4">
        <div class="flex items-center gap-6 pt-2 border-t-2">
          <ProfileIcon size="md" className="sm:flex hidden" />
          <ProfileIcon size="sm" className="sm:hidden flex" />
          <div>
            <h2 class="sm:text-lg text-base mb-2">まきゆう</h2>
            <ul class="sm:text-base text-xs">
              <li>1988年生まれ O型</li>
              <li>北海道の田舎育ち、現在札幌在住</li>
            </ul>
          </div>
        </div>
        <div class="sm:text-base text-sm mt-4 ml-4">
          <div class="my-2">
            <h3>家族</h3>
            <ul class="list-inside list-disc">
              <li>夫</li>
              <li>長女・次女</li>
            </ul>
          </div>
          <div>
            <h3 class="text-bold">好きなこと</h3>
            <ul class="list-inside list-disc">
              <li>北海道</li>
              <li>ハンドドリップ</li>
              <li>キャンプ</li>
              <li>家族で料理</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>
