---
import Layout from '../../layouts/Layout.astro';
import { PageTitle } from '../../components/elements/PageTitle'
---

<Layout title="Makiyuu Okatazuke|お申し込み">
  <div class="flex-col justify-center mt-2 items-center lg:mx-40 mx-4">
    <PageTitle>お申し込み</PageTitle>
  </div>
</Layout>
