---
import RequestFromLineImage from "../images/request_from_line.png";
import Layout from "../../layouts/Layout.astro";
import { PageTitle } from "../../components/elements/PageTitle";
import { LineContact } from "../../components/elements/LineContact";
import { StepContent } from "../../components/elements/StepContent";
import { Image } from "astro:assets";
---

<Layout
  title="まきゆう|子育てママの毎日をラクにする|整理収納アドバイザー|Contact"
>
  <div
    class="mx-4 mt-2 flex-col items-center justify-center text-gray-700 lg:mx-40"
  >
    <PageTitle>Contact</PageTitle>
    <section class="my-4 flex flex-col items-center justify-center text-center">
      <StepContent step={1} title="まきゆう公式LINEを友達に追加">
        <p>
          お申し込みや、その後のご連絡にはすべて公式LINEを使用しております。
        </p>
        <p>まずはこちらから「友だち追加」をお願いします。</p>
      </StepContent>
      <LineContact
        className="my-4 flex w-80 justify-center bg-secondary p-4 text-white"
      />
    </section>
    <section class="my-8 text-center">
      <StepContent step={2} title="公式LINEで予約を送信">
        <p>公式LINEの下記からご予約をお願いいたします。</p>
        <p>
          ご予約が完了しましたら、こちらからご連絡いたしますので、少々お待ちください。
        </p>
        <div class="my-4 flex items-center justify-center">
          <Image
            src={RequestFromLineImage}
            alt="公式LINEから予約する方法の画像"
            height={300}
          />
        </div>
      </StepContent>
    </section>
  </div>
</Layout>
