---
---

<nav class="sticky top-0 flex bg-primary w-full p-4 justify-start items-center text-xl text-bold text-white h-16">
  <div class="flex-1">
    <a href="/">
      <span>Makiyuu</span>
    </a>
  </div>
  <div class="menu bg-secondary px-2 py-1 rounded-md">
    menu
  </div>
</nav>
