---
---

<nav class="sticky top-0 flex bg-slate-100 w-full p-4 justify-start items-center text-xl text-bold text-gray-800 h-16">
  <div class="flex-1">
    <a href="/">
      <span>Makiyuu</span>
    </a>
  </div>
  <div class="menu bg-red-200 px-2 py-1">
    menu
  </div>
</nav>
