---
---

<nav class="flex bg-teal-700 w-full p-4 justify-start items-center text-slate-50 h-10">
  <div>
    <a href="/">
      <span>まきゆう | 子育てママの毎日をラクにする | 整理収納アドバイザー</span>
    </a>
  </div>
  <!-- <div class="nav-menu">
    <li class="nav-menu-item">
      <a href="/profile">自己評価</a>
    </li>
    <li class="nav-menu-item">
      <a href="/service">サービス内容</a>
    </li>
    <li class="nav-menu-item">
      <a href="/before-after">Before/After</a>
    </li>
    <li class="nav-menu-item">
      <a href="/request">お申し込み</a>
    </li>
  </div>
  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div> -->
</nav>
