---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Makiyuu Okatazuke|サポート実例">
  <main class="flex-col justify-center items-center lg:mx-40 mx-4">
    <h1 class="text-2xl text-center my-4">サポート実例</h1>
 </main>
</Layout>
