---
interface Props {
  href: string;
}

const { href } = Astro.props;
---
<a href={href} class="flex justify-center items-center bg-accent text-slate-100 w-full lg:h-20 min-w-40 min-h-10">
  <slot />
</a>
